*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(14, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    color: rgb(240, 240, 240);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.133);
    margin: 20px;
    width: 300px;
    height: 400px;
}

.titleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;    
}


.details {
    font-size: 1rem;
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: rgb(172, 172, 172);
}

.button {
    max-width: 200px;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
}

.search-btn {
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.133);
    font-weight: bold;
}

.input-btn {
    background-color: rgb(221, 221, 221);
    color: rgb(65, 65, 65);
    border: 1px solid rgba(255, 255, 255, 0.133);
}

.input-btn::placeholder {
    font-weight: bold;
}

.icon {
    margin: 0px;
    font-size: 5rem;
}

.temp {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.city {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-style: italic;
}

.description {
    font-weight: bold;
}

.errorDisplay {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.407);
}